{{> layout/header}}

<div class="container p-5">

    {{#isOwner}}
        <div class="d-flex justify-content-end mb-2">
            <a href="/board/{{board.id}}/update" class="btn btn-warning me-2">수정</a>
            <form action="/board/{{board.id}}/delete" method="post">
                <button class="btn btn-danger">삭제</button>
            </form>
        </div>
    {{/isOwner}}

    <div class="d-flex justify-content-end">
        <b>작성자</b> : {{board.username}}
    </div>

    <div>
        <h2><b>{{board.title}}</b></h2>
        <hr />
        <div class="m-4 p-2">
            {{board.content}}
        </div>
    </div>

    <div class="card mt-3">
        {{#sessionUser}}
            <div class="card-body">
                <form action="/reply/save" method="post">
                    <input type="hidden" name="boardId" value="{{board.id}}">
                    <textarea class="form-control" rows="2" name="comment" placeholder="댓글을 입력하세요"></textarea>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                    </div>
                </form>
            </div>
        {{/sessionUser}}
        {{^sessionUser}}
            <div class="card-body">
                <p class="text-muted text-center p-2">댓글을 작성하려면 <a href="/login" class="text-primary">로그인</a>이 필요합니다.</p>
            </div>
        {{/sessionUser}}

        <div class="card-footer">
            <b>댓글 리스트</b>
        </div>
        <div class="list-group">
            {{#replyList}}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center mb-1">
                            <div class="px-2 py-1 me-2 bg-primary text-white rounded">{{username}}</div>
                            <small class="text-muted">{{createdAt}}</small>
                        </div>
                        <div>{{comment}}</div>
                    </div>

                    {{#isOwner}}
                        <form action="/reply/{{id}}/delete" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">🗑 삭제</button>
                        </form>
                    {{/isOwner}}
                </div>
            {{/replyList}}

            {{^replyList}}
                <div class="list-group-item text-muted text-center py-3">
                    작성된 댓글이 없습니다.
                </div>
            {{/replyList}}
        </div>
    </div>
</div>

{{> layout/footer}}